$error: (
  100: #ffffff,
  99: #fffbff,
  98: #fff8f7,
  95: #ffedea,
  90: #ffdad6,
  80: #ffb4ab,
  70: #ff897d,
  60: #ee6558,
  50: #cc4c42,
  40: #ab342c,
  35: #9a2822,
  30: #8a1b18,
  25: #790d0e,
  20: #690005,
  10: #410002,
  0: #000000,
);
$neutral: (
  100: #ffffff,
  99: #fcfcff,
  98: #f8f8fc,
  95: #efeff4,
  90: #e1e1e5,
  87: #dbdade,
  80: #c5c5c9,
  70: #aaaaad,
  60: #909092,
  50: #767678,
  40: #5e5e5f,
  35: #525253,
  30: #464648,
  25: #3b3b3c,
  24: #39393d,
  22: #343438,
  20: #303031,
  17: #292a2d,
  12: #1e1f23,
  10: #1b1b1c,
  6: #101013,
  4: #0a0b0c,
  0: #000000,

  92: #e9e8ec,
  94: #efedf1,
  96: #f5f3f7,
);
$neutral-variant: (
  100: #ffffff,
  99: #fefcfc,
  98: #fbf9f9,
  95: #f2f0f0,
  90: #e4e2e2,
  80: #c7c6c6,
  70: #acabab,
  60: #919091,
  50: #777777,
  40: #5e5e5f,
  35: #525253,
  30: #464747,
  25: #3b3b3c,
  20: #303031,
  10: #1b1c1c,
  0: #000000,
);

$secondary: (
  100: #ffffff,
  99: #f6ffef,
  98: #ecffe3,
  95: #c9ffbe,
  90: #b8f1ad,
  80: #75dd6f,
  70: #59c157,
  60: #3da53f,
  50: #1b8a27,
  40: #006e16,
  35: #006012,
  30: #00530e,
  25: #00460a,
  20: #003907,
  10: #002203,
  0: #000000,
);

$primary: (
  100: #ffffff,
  99: #f9fdff,
  98: #f2fbff,
  95: #dbf5ff,
  90: #b3ebff,
  80: #57d5f9,
  70: #2fbadc,
  60: #009ebe,
  50: #00829d,
  40: #00677d,
  35: #005a6e,
  30: #004e5f,
  25: #004150,
  20: #003642,
  10: #001f27,
  0: #000000,
  secondary: $secondary,
  error: $error,
  neutral: $neutral,
  neutral-variant: $neutral-variant,
);

$tertiary: (
  100: #ffffff,
  99: #fdfcff,
  98: #f8f9ff,
  95: #eaf1ff,
  90: #d2e4ff,
  80: #a0c9ff,
  70: #80aee7,
  60: #6594cb,
  50: #4a7ab0,
  40: #2f6195,
  35: #1f5588,
  30: #0c497c,
  25: #003d6c,
  20: #00325a,
  10: #001c37,
  0: #000000,
  secondary: $secondary,
  error: $error,
  neutral: $neutral,
  neutral-variant: $neutral-variant,
);
