:host {
  display: block;

  --icon-size: 16px;

  @media (width >= 600px) {
    --icon-size: 24px;
  }

  @media (width >= 900px) {
    --icon-size: 32px;
  }

  @media (width >= 1200px) {
    --icon-size: 48px;
  }
}

mat-icon {
  font-size: var(--icon-size);
  width: var(--icon-size);
  height: var(--icon-size);
}

svg {
  fill: currentColor;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
