@use "styles/m3" as theme;

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: theme.$primary,
      tertiary: theme.$tertiary,
    ),
    density: (
      scale: 0,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$blue-palette,
      tertiary: mat.$azure-palette,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($light-theme);

  --on-error: #{mat.get-theme-color($light-theme, on-error)};
  --error: #{mat.get-theme-color($light-theme, error)};
}

.dark-theme {
  @include mat.all-component-colors($dark-theme);

  --on-error: #{mat.get-theme-color($dark-theme, on-error)};
  --error: #{mat.get-theme-color($dark-theme, error)};
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($angular18-m3-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($angular18-m3-theme);
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-form-field-has-icon-suffix {
  &.mat-focused mat-icon {
    color: var(--mat-select-focused-arrow-color);
  }

  mat-icon {
    color: var(--mat-select-enabled-arrow-color);
    fill: currentColor;
  }

  .mat-mdc-select {
    // It's not possible with angular material to hide to default arrow icon, so we override it
    .mat-mdc-select-arrow-wrapper {
      display: none;
    }
  }
}
